
library-manager.log

# recursively ignore build/libs folders in the tree
build/
libs/

# recursively ignore all GeneratedSource folders contents
GeneratedSource/

__pycache__/

# MT 3.0 mtbquery file, ignore
.mtbqueryapi
